.sprites { display: block; background: url('tmp.png') no-repeat; }

.flags {
  background-image  : url('flags.png');
  background-color  : transparent;
  background-repeat : no-repeat;
}

#me { background-position: -0px -0px; width: 16px; height: 12px; }
#ad { background-position: -0px -12px; width: 16px; height: 11px; }
#ly { background-position: -0px -23px; width: 16px; height: 11px; }
#mt { background-position: -0px -34px; width: 16px; height: 11px; }
#va { background-position: -0px -45px; width: 16px; height: 11px; }
#ug { background-position: -0px -56px; width: 16px; height: 11px; }
#tk { background-position: -0px -67px; width: 16px; height: 11px; }
#bb { background-position: -0px -78px; width: 16px; height: 11px; }
#ms { background-position: -0px -89px; width: 16px; height: 11px; }
#it { background-position: -0px -100px; width: 16px; height: 11px; }
#iq { background-position: -0px -111px; width: 16px; height: 11px; }
#pl { background-position: -0px -122px; width: 16px; height: 11px; }
#is { background-position: -0px -133px; width: 16px; height: 11px; }
#pe { background-position: -0px -144px; width: 16px; height: 11px; }
#ht { background-position: -0px -155px; width: 16px; height: 11px; }
#jp { background-position: -0px -166px; width: 16px; height: 11px; }
#us { background-position: -0px -177px; width: 16px; height: 11px; }
#lr { background-position: -0px -188px; width: 16px; height: 11px; }
#au { background-position: -0px -199px; width: 16px; height: 11px; }
#eh { background-position: -0px -210px; width: 16px; height: 11px; }
#gl { background-position: -0px -221px; width: 16px; height: 11px; }
#dz { background-position: -0px -232px; width: 16px; height: 11px; }
#ir { background-position: -0px -243px; width: 16px; height: 11px; }
#bt { background-position: -0px -254px; width: 16px; height: 11px; }
#cs { background-position: -0px -265px; width: 16px; height: 11px; }
#ne { background-position: -0px -276px; width: 16px; height: 11px; }
#to { background-position: -0px -287px; width: 16px; height: 11px; }
#catalonia { background-position: -0px -298px; width: 16px; height: 11px; }
#fr { background-position: -0px -309px; width: 16px; height: 11px; }
#uy { background-position: -0px -320px; width: 16px; height: 11px; }
#az { background-position: -0px -331px; width: 16px; height: 11px; }
#cf { background-position: -0px -342px; width: 16px; height: 11px; }
#dk { background-position: -0px -353px; width: 16px; height: 11px; }
#za { background-position: -0px -364px; width: 16px; height: 11px; }
#jm { background-position: -0px -375px; width: 16px; height: 11px; }
#lv { background-position: -0px -386px; width: 16px; height: 11px; }
#tl { background-position: -0px -397px; width: 16px; height: 11px; }
#mx { background-position: -0px -408px; width: 16px; height: 11px; }
#bn { background-position: -0px -419px; width: 16px; height: 11px; }
#gf { background-position: -0px -430px; width: 16px; height: 11px; }
#ai { background-position: -0px -441px; width: 16px; height: 11px; }
#ch { background-position: -0px -452px; width: 11px; height: 11px; }
#cl { background-position: -0px -463px; width: 16px; height: 11px; }
#er { background-position: -0px -474px; width: 16px; height: 11px; }
#cx { background-position: -0px -485px; width: 16px; height: 11px; }
#sy { background-position: -0px -496px; width: 16px; height: 11px; }
#bo { background-position: -0px -507px; width: 16px; height: 11px; }
#ba { background-position: -0px -518px; width: 16px; height: 11px; }
#cm { background-position: -0px -529px; width: 16px; height: 11px; }
#nr { background-position: -0px -540px; width: 16px; height: 11px; }
#cd { background-position: -0px -551px; width: 16px; height: 11px; }
#ph { background-position: -0px -562px; width: 16px; height: 11px; }
#lu { background-position: -0px -573px; width: 16px; height: 11px; }
#pw { background-position: -0px -584px; width: 16px; height: 11px; }
#id { background-position: -0px -595px; width: 16px; height: 11px; }
#mo { background-position: -0px -606px; width: 16px; height: 11px; }
#sg { background-position: -0px -617px; width: 16px; height: 11px; }
#tw { background-position: -0px -628px; width: 16px; height: 11px; }
#ge { background-position: -0px -639px; width: 16px; height: 11px; }
#in { background-position: -0px -650px; width: 16px; height: 11px; }
#zw { background-position: -0px -661px; width: 16px; height: 11px; }
#bv { background-position: -0px -672px; width: 16px; height: 11px; }
#tj { background-position: -0px -683px; width: 16px; height: 11px; }
#europeanunion { background-position: -0px -694px; width: 16px; height: 11px; }
#vu { background-position: -0px -705px; width: 16px; height: 11px; }
#tm { background-position: -0px -716px; width: 16px; height: 11px; }
#cz { background-position: -0px -727px; width: 16px; height: 11px; }
#vg { background-position: -0px -738px; width: 16px; height: 11px; }
#tr { background-position: -0px -749px; width: 16px; height: 11px; }
#lc { background-position: -0px -760px; width: 16px; height: 11px; }
#by { background-position: -0px -771px; width: 16px; height: 11px; }
#tf { background-position: -0px -782px; width: 16px; height: 11px; }
#ro { background-position: -0px -793px; width: 16px; height: 11px; }
#ki { background-position: -0px -804px; width: 16px; height: 11px; }
#mm { background-position: -0px -815px; width: 16px; height: 11px; }
#ee { background-position: -0px -826px; width: 16px; height: 11px; }
#sa { background-position: -0px -837px; width: 16px; height: 11px; }
#sj { background-position: -0px -848px; width: 16px; height: 11px; }
#nc { background-position: -0px -859px; width: 16px; height: 11px; }
#bw { background-position: -0px -870px; width: 16px; height: 11px; }
#ml { background-position: -0px -881px; width: 16px; height: 11px; }
#gr { background-position: -0px -892px; width: 16px; height: 11px; }
#pa { background-position: -0px -903px; width: 16px; height: 11px; }
#nu { background-position: -0px -914px; width: 16px; height: 11px; }
#bg { background-position: -0px -925px; width: 16px; height: 11px; }
#uz { background-position: -0px -936px; width: 16px; height: 11px; }
#mv { background-position: -0px -947px; width: 16px; height: 11px; }
#cr { background-position: -0px -958px; width: 16px; height: 11px; }
#be { background-position: -0px -969px; width: 16px; height: 11px; }
#bh { background-position: -0px -980px; width: 16px; height: 11px; }
#mz { background-position: -0px -991px; width: 16px; height: 11px; }
#zm { background-position: -0px -1002px; width: 16px; height: 11px; }
#ma { background-position: -0px -1013px; width: 16px; height: 11px; }
#an { background-position: -0px -1024px; width: 16px; height: 11px; }
#ng { background-position: -0px -1035px; width: 16px; height: 11px; }
#np { background-position: -0px -1046px; width: 9px; height: 11px; }
#sk { background-position: -0px -1057px; width: 16px; height: 11px; }
#gn { background-position: -0px -1068px; width: 16px; height: 11px; }
#ie { background-position: -0px -1079px; width: 16px; height: 11px; }
#si { background-position: -0px -1090px; width: 16px; height: 11px; }
#dj { background-position: -0px -1101px; width: 16px; height: 11px; }
#cu { background-position: -0px -1112px; width: 16px; height: 11px; }
#ni { background-position: -0px -1123px; width: 16px; height: 11px; }
#py { background-position: -0px -1134px; width: 16px; height: 11px; }
#sl { background-position: -0px -1145px; width: 16px; height: 11px; }
#ec { background-position: -0px -1156px; width: 16px; height: 11px; }
#ae { background-position: -0px -1167px; width: 16px; height: 11px; }
#sr { background-position: -0px -1178px; width: 16px; height: 11px; }
#tg { background-position: -0px -1189px; width: 16px; height: 11px; }
#sb { background-position: -0px -1200px; width: 16px; height: 11px; }
#bi { background-position: -0px -1211px; width: 16px; height: 11px; }
#at { background-position: -0px -1222px; width: 16px; height: 11px; }
#mh { background-position: -0px -1233px; width: 16px; height: 11px; }
#se { background-position: -0px -1244px; width: 16px; height: 11px; }
#gi { background-position: -0px -1255px; width: 16px; height: 11px; }
#sc { background-position: -0px -1266px; width: 16px; height: 11px; }
#hn { background-position: -0px -1277px; width: 16px; height: 11px; }
#tc { background-position: -0px -1288px; width: 16px; height: 11px; }
#mg { background-position: -0px -1299px; width: 16px; height: 11px; }
#fk { background-position: -0px -1310px; width: 16px; height: 11px; }
#cv { background-position: -0px -1321px; width: 16px; height: 11px; }
#kg { background-position: -0px -1332px; width: 16px; height: 11px; }
#wf { background-position: -0px -1343px; width: 16px; height: 11px; }
#sz { background-position: -0px -1354px; width: 16px; height: 11px; }
#fi { background-position: -0px -1365px; width: 16px; height: 11px; }
#af { background-position: -0px -1376px; width: 16px; height: 11px; }
#pt { background-position: -0px -1387px; width: 16px; height: 11px; }
#gq { background-position: -0px -1398px; width: 16px; height: 11px; }
#gp { background-position: -0px -1409px; width: 16px; height: 11px; }
#no { background-position: -0px -1420px; width: 16px; height: 11px; }
#fo { background-position: -0px -1431px; width: 16px; height: 11px; }
#lb { background-position: -0px -1442px; width: 16px; height: 11px; }
#th { background-position: -0px -1453px; width: 16px; height: 11px; }
#sd { background-position: -0px -1464px; width: 16px; height: 11px; }
#et { background-position: -0px -1475px; width: 16px; height: 11px; }
#al { background-position: -0px -1486px; width: 16px; height: 11px; }
#re { background-position: -0px -1497px; width: 16px; height: 11px; }
#mp { background-position: -0px -1508px; width: 16px; height: 11px; }
#tn { background-position: -0px -1519px; width: 16px; height: 11px; }
#gt { background-position: -0px -1530px; width: 16px; height: 11px; }
#england { background-position: -0px -1541px; width: 16px; height: 11px; }
#il { background-position: -0px -1552px; width: 16px; height: 11px; }
#hk { background-position: -0px -1563px; width: 16px; height: 11px; }
#ws { background-position: -0px -1574px; width: 16px; height: 11px; }
#mw { background-position: -0px -1585px; width: 16px; height: 11px; }
#mq { background-position: -0px -1596px; width: 16px; height: 11px; }
#km { background-position: -0px -1607px; width: 16px; height: 11px; }
#jo { background-position: -0px -1618px; width: 16px; height: 11px; }
#so { background-position: -0px -1629px; width: 16px; height: 11px; }
#st { background-position: -0px -1640px; width: 16px; height: 11px; }
#ci { background-position: -0px -1651px; width: 16px; height: 11px; }
#hu { background-position: -0px -1662px; width: 16px; height: 11px; }
#kn { background-position: -0px -1673px; width: 16px; height: 11px; }
#gs { background-position: -0px -1684px; width: 16px; height: 11px; }
#br { background-position: -0px -1695px; width: 16px; height: 11px; }
#li { background-position: -0px -1706px; width: 16px; height: 11px; }
#ag { background-position: -0px -1717px; width: 16px; height: 11px; }
#tz { background-position: -0px -1728px; width: 16px; height: 11px; }
#mr { background-position: -0px -1739px; width: 16px; height: 11px; }
#ky { background-position: -0px -1750px; width: 16px; height: 11px; }
#kz { background-position: -0px -1761px; width: 16px; height: 11px; }
#ls { background-position: -0px -1772px; width: 16px; height: 11px; }
#de { background-position: -0px -1783px; width: 16px; height: 11px; }
#ye { background-position: -0px -1794px; width: 16px; height: 11px; }
#sh { background-position: -0px -1805px; width: 16px; height: 11px; }
#nz { background-position: -0px -1816px; width: 16px; height: 11px; }
#mu { background-position: -0px -1827px; width: 16px; height: 11px; }
#bz { background-position: -0px -1838px; width: 16px; height: 11px; }
#vn { background-position: -0px -1849px; width: 16px; height: 11px; }
#ar { background-position: -0px -1860px; width: 16px; height: 11px; }
#ke { background-position: -0px -1871px; width: 16px; height: 11px; }
#td { background-position: -0px -1882px; width: 16px; height: 11px; }
#fam { background-position: -0px -1893px; width: 16px; height: 11px; }
#cg { background-position: -0px -1904px; width: 16px; height: 11px; }
#cn { background-position: -0px -1915px; width: 16px; height: 11px; }
#ca { background-position: -0px -1926px; width: 16px; height: 11px; }
#co { background-position: -0px -1937px; width: 16px; height: 11px; }
#kp { background-position: -0px -1948px; width: 16px; height: 11px; }
#gu { background-position: -0px -1959px; width: 16px; height: 11px; }
#cc { background-position: -0px -1970px; width: 16px; height: 11px; }
#rw { background-position: -0px -1981px; width: 16px; height: 11px; }
#na { background-position: -0px -1992px; width: 16px; height: 11px; }
#sm { background-position: -0px -2003px; width: 16px; height: 11px; }
#pr { background-position: -0px -2014px; width: 16px; height: 11px; }
#eg { background-position: -0px -2025px; width: 16px; height: 11px; }
#scotland { background-position: -0px -2036px; width: 16px; height: 11px; }
#md { background-position: -0px -2047px; width: 16px; height: 11px; }
#bj { background-position: -0px -2058px; width: 16px; height: 11px; }
#bf { background-position: -0px -2069px; width: 16px; height: 11px; }
#ck { background-position: -0px -2080px; width: 16px; height: 11px; }
#fj { background-position: -0px -2091px; width: 16px; height: 11px; }
#gy { background-position: -0px -2102px; width: 16px; height: 11px; }
#vc { background-position: -0px -2113px; width: 16px; height: 11px; }
#ru { background-position: -0px -2124px; width: 16px; height: 11px; }
#ve { background-position: -0px -2135px; width: 16px; height: 11px; }
#sv { background-position: -0px -2146px; width: 16px; height: 11px; }
#do { background-position: -0px -2157px; width: 16px; height: 11px; }
#gd { background-position: -0px -2168px; width: 16px; height: 11px; }
#om { background-position: -0px -2179px; width: 16px; height: 11px; }
#vi { background-position: -0px -2190px; width: 16px; height: 11px; }
#as { background-position: -0px -2201px; width: 16px; height: 11px; }
#nf { background-position: -0px -2212px; width: 16px; height: 11px; }
#lt { background-position: -0px -2223px; width: 16px; height: 11px; }
#my { background-position: -0px -2234px; width: 16px; height: 11px; }
#tv { background-position: -0px -2245px; width: 16px; height: 11px; }
#hr { background-position: -0px -2256px; width: 16px; height: 11px; }
#ao { background-position: -0px -2267px; width: 16px; height: 11px; }
#hm { background-position: -0px -2278px; width: 16px; height: 11px; }
#nl { background-position: -0px -2289px; width: 16px; height: 11px; }
#kr { background-position: -0px -2300px; width: 16px; height: 11px; }
#yt { background-position: -0px -2311px; width: 16px; height: 11px; }
#pm { background-position: -0px -2322px; width: 16px; height: 11px; }
#pg { background-position: -0px -2333px; width: 16px; height: 11px; }
#mc { background-position: -0px -2344px; width: 16px; height: 11px; }
#sn { background-position: -0px -2355px; width: 16px; height: 11px; }
#kh { background-position: -0px -2366px; width: 16px; height: 11px; }
#dm { background-position: -0px -2377px; width: 16px; height: 11px; }
#gw { background-position: -0px -2388px; width: 16px; height: 11px; }
#tt { background-position: -0px -2399px; width: 16px; height: 11px; }
#rs { background-position: -0px -2410px; width: 16px; height: 11px; }
#ua { background-position: -0px -2421px; width: 16px; height: 11px; }
#am { background-position: -0px -2432px; width: 16px; height: 11px; }
#ga { background-position: -0px -2443px; width: 16px; height: 11px; }
#es { background-position: -0px -2454px; width: 16px; height: 11px; }
#fm { background-position: -0px -2465px; width: 16px; height: 11px; }
#wales { background-position: -0px -2476px; width: 16px; height: 11px; }
#aw { background-position: -0px -2487px; width: 16px; height: 11px; }
#bs { background-position: -0px -2498px; width: 16px; height: 11px; }
#mk { background-position: -0px -2509px; width: 16px; height: 11px; }
#pf { background-position: -0px -2520px; width: 16px; height: 11px; }
#pk { background-position: -0px -2531px; width: 16px; height: 11px; }
#io { background-position: -0px -2542px; width: 16px; height: 11px; }
#mn { background-position: -0px -2553px; width: 16px; height: 11px; }
#um { background-position: -0px -2564px; width: 16px; height: 11px; }
#ps { background-position: -0px -2575px; width: 16px; height: 11px; }
#gh { background-position: -0px -2586px; width: 16px; height: 11px; }
#lk { background-position: -0px -2597px; width: 16px; height: 11px; }
#bd { background-position: -0px -2608px; width: 16px; height: 11px; }
#cy { background-position: -0px -2619px; width: 16px; height: 11px; }
#pn { background-position: -0px -2630px; width: 16px; height: 11px; }
#gm { background-position: -0px -2641px; width: 16px; height: 11px; }
#qa { background-position: -0px -2652px; width: 16px; height: 11px; }
#ax { background-position: -0px -2663px; width: 16px; height: 11px; }
#la { background-position: -0px -2674px; width: 16px; height: 11px; }
#gb { background-position: -0px -2685px; width: 16px; height: 11px; }
#kw { background-position: -0px -2696px; width: 16px; height: 11px; }
#bm { background-position: -0px -2707px; width: 16px; height: 11px; }
