<div class="well">
  <h1>{{ data }}
</div>

<div class="row-fluid">
  <div class="well">
    menu
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="well">
      <h1 id="">video</h1>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h1 id="">popcorn.js</h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    <div class="well">
      <img src="http://placekitten.com/g/200/200" style="width: 100%">
    </div>
  </div>
  <div class="span10">
    <div class="well">
      {{ quote }}
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div class="well">
      Exm.ª Dr.ª Teresa Salgado
    </div>
  </div>
  <div class="span8">
    <div class="well">
Williamsburg leggings bicycle rights, cray sriracha bespoke food truck enim irure cardigan small batch fixie wolf. Id pour-over irony delectus brunch velit craft beer, odio chambray adipisicing fixie irure odd future do. Velit nulla sunt do officia, letterpress high life salvia vegan dreamcatcher assumenda yr kale chips ad. Nulla gluten-free id messenger bag, pitchfork american apparel bicycle rights godard quis. Cupidatat pitchfork skateboard laboris, irony mcsweeney's forage accusamus est next level laborum. Reprehenderit authentic viral magna seitan. Ut deserunt twee, locavore next level polaroid seitan velit.    </div>
  </div>
</div>
